<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <nav
        class="nav justify-content-center  "
    >
        <a class="nav-link " href="/" aria-current="page"
            > Home</a
        >
        <a class="nav-link" href="/product/brand-list">Brands</a>
        <a class="nav-link " href="#">Disabled link</a>
    </nav>
    
{% block content %}

{% endblock %}



</body>
</html>